@import "bootstrap";


// 共通

// 登録画面
.box {
  max-width: 580px;
  width: 95%;
  background: #ffffff;
  margin: 2rem auto 0;
  padding: 2rem 5rem;
}

.form {
  margin-top: 2rem;
  position: relative;
  background: #ffffff;
}

// トップページ
.top-image {
  background-image: url(image-path('background.jpg'));
  background-size: cover;
  background-position: center;
  min-height: calc(100vh - 100px);
  width: 100%;
  padding-top: 4rem;
  position: relative;
}

// Post new
.file-picture__label {
  color: #fff;
  background: #008DC7;
  font-size: 1rem;
  padding: 0.5rem 1rem;
  border-radius: .75rem;
}

.file-picture {
  display: none;
}

.preview {
  display: none;
  &__on {
    display: block;
    margin-top: 3rem;
    #preview-inner {
      overflow: scroll;
      display: flex;
    }
  }
}

.form-label{
  width: 100%;
  background-color: gainsboro;
  padding: 5px;
}

summary{
  cursor: pointer;
  outline: none;
}

// ユーザー画面
.user-canvas {
  background-size: cover;
  background-position: center;
  position: relative;
  z-index: 0;
  overflow: hidden;
  color: #eeeeee;
  margin-bottom: 4rem;
  margin-top: 3rem;
  border-radius: 10px;
  box-shadow: 0 3px 6px rgba(0,0,0,0.15);
  background-color: #eeffef;
}

.user-conteiner {
  margin-left: 150px;
  margin-right: 150px;
}

.user-box {
  text-align: center;
}

.user-box__image {
  position: relative;
}

.profile-image, .profile-preview-picture {
  border-radius: 50%;
  object-fit: cover;
}

.userinfostatus
{
  margin-top: 60px;
}

.userinfostatus ul
{
  display: table;
  width: 100%;
  table-layout: fixed;
  text-align: center;
}

.userinfostatus li {
  display: table-cell;
}

.userinfostatus__label {
  font-size: 75%;
  margin-bottom: 8px;
}

.userinfostatus__count {
  font-weight: 700;
}

.userinfostatusalign {
  height: 1px;
  width: 100%;
  background-color: #e0e0e0;
  margin-bottom: 10px;
}

.no-post {
  text-align: center;
  &__link {
    display: inline-block;
    border: 1px solid #222;
    padding: 0.5rem;
    border-radius: 5px;
    margin-top: 1rem;
  }
}

.cource-block{
  margin-left: 20px;
  margin-top: 20px;
  margin-bottom: 20px;
  width: calc((100% / 3) - 20px);
  height: 450px;
  border: 1px solid #e0e0e0;
}

.cource-detail{
  padding: 0 16px;
}

.cource-block-dl{
  border-bottom: 1px solid #e0e0e0;
  padding-top: 16px;
  padding-bottom: 16px;
}

.cource-image{
  height: 210px;
  background-size: cover;
  width: 100%;
}